@keyframes slideFromBottom {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes gradualAppearance{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes moveUp {
  from{transform: translateY(0);}
  to{transform: translateY(6px)}
}