@font-face {
    font-family: title;
    src: url('../../fonts/Lora/static/Lora-Regular.ttf');
}
@font-face {
    font-family: body;
    src: url('../../fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: citation;
    src: url('../../fonts/Cormorant_Garamond/CormorantGaramond-Italic.ttf');
}