@use "colors" as color;
@use "layouts" as layout;
@use "animations" as animation;
@use "typos" as *;
@use "buttons" as *;
@use "carousel" as *;
$breakpoint: 830px;
/* _________________________________________________________
****             REGLES GLOBAL           ****          */
html body {
  margin: 0;
  padding: 0;
  font-family: "body", sans-serif;
  background-color: color.$light;
}
p,
blockquote {
  font-size: 1.5rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  object-fit: cover;
  max-width: 100vw;
}
blockquote {
  font-family: citation, sans-serif;
}
.hidden {
  transform: scaleX(0);
}
.hidden-smooth {
  opacity: 0;
  transform: scale(0);
}
.appeared {
  opacity: 1;
  transform: none;
}
/* _________________________________________________________
  ****      BANNIERE TITRE ET BOUTON MENU     ****          */
header {
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.2rem color.$warn;
}
.top-header {
  font-family: "title", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  @media (width < $breakpoint) {
    img {
      display: none;
    }
  }
  &-accueil {
    @media (width > $breakpoint) {
      color: white;
      position: absolute;
      left: 20%;
    }
  }
}
//  bouton d'activation du menu
#menuTrigger {
  border: none;
  @include layout.centralizer;
  flex-direction: column;
  z-index: 10;
  cursor: pointer;
  .stripe {
    background-color: color.$primary;
    margin: 0.3rem;
    border-radius: 50px;
    height: 0.1rem;
    width: 2rem;
    transition: ease-out 200ms;
    &-top-opened {
      transform-origin: right;
      transform: rotate(-35deg) scaleX(1.2);
    }
    &-middle-opened {
      opacity: 0;
    }
    &-bottom-opened {
      transform-origin: right;
      transform: rotate(35deg) scaleX(1.2);
    }
  }
  @media (width > $breakpoint) {
    display: none;
  }
}
//  ****      -------------------------     ****
.menu {
  color: color.$primary;
  background-color: color.$light;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media (width < $breakpoint) {
    position: fixed;
    right: 0;
    height: 100vh;
    flex-direction: column;

    &-hidden {
      transform-origin: right;
      transform: translateX(100%);
    }
    li {
      border-bottom: 1px solid white;
      width: 100vw;
    }
  }
  @media (width > $breakpoint) {
    ul {
      display: flex;
      @include layout.centralizer;
    }
    li {
      margin: 2rem;
    }
  }
  .link {
    color: color.$primary;
    font-size: 2rem;
    display: block;
    margin: 2rem 1rem 1rem 1rem;
    &:hover {
      color: color.$accent;
    }
    @media (width > $breakpoint) {
      padding-top: 1rem;
      margin: 0;
      border-top: solid 2px transparent;
      &-selected {
        border-top: solid 2px color.$primary;
      }
      &:hover,
      &:focus {
        border-top: solid 2px color.$accent;
      }
    }
  }
}
.introduction {
  background-color: color.$primary;
  color: white;
  @include layout.centralizer;
  flex-direction: column;
  @media (width > $breakpoint) {
    align-items: flex-start;
    padding-left: 5rem;
    order: -1;
    position: relative;
    height: 18rem;
    img {
      position: absolute;
      top: 30%;
      left: 23%;
    }
    h2 {
      position: absolute;
      top: 1rem;
      right: 13%;
      width: 30%;
    }
    blockquote {
      position: absolute;
      bottom: 3rem;
      right: 12%;
      width: 28%;
    }
  }
}
//  ****      -------------------------     ****
.presentation {
  color: color.$grey;
  font-family: "citation", sans-serif;
  @include layout.centralizer;
  flex-direction: column;
  @media (width > $breakpoint) {
    flex-direction: row-reverse;
    justify-content: space-around;
    p {
      width: 30%;
    }
  }
}
/* _________________________________________________________
  ****           ------------MAIN-------------         ****
                            Sections                                 */
section {
  background-color: color.$grey;
  display: flex;
  @include layout.centralizer;
  flex-direction: column;
  color: white;
  //________________________ACCUEIL__________________________
  .feelings,
  .targets {
    font-size: 2rem;
    transition: all 2s;
  }
  .cta {
    background-image: url("../../assets/anais_se_lancer.webp");
    background-size: cover;
    width: 100%;
    height: 605px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: solid 0.2rem color.$accent;
    font-size: 2rem;
    font-weight: bold;
    @media (width > $breakpoint) {
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }
    p {
      color: black;
    }
    p::after {
      color: color.$warn;
    }
  }
  .card {
    // tablette et pc
    @media (width > $breakpoint) {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 50%;
      p {
        padding: 2rem;
      }
      &-reverse {
        flex-direction: row-reverse;
      }
    }
    &-light {
      background-color: whitesmoke;
      color: color.$primary;
      flex-direction: column;
      box-shadow: 5px 4px 0px grey;
      margin: 1rem;
      width: 80vw;
    }
  }
  //________________________PAGE OFFRE__________________________
  #offre {
    border-bottom: solid 0.2rem color.$accent;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (width > $breakpoint) {
      position: relative;
      height: 600px;
      &-text {
        width: 50%;
        position: relative;
        background-color: color.$grey;
        box-shadow: 5px 4px 0px grey;
        z-index: 1;
        transform: translateX(-6rem);
      }
      > img {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  //________________________PAGE A PROPOS__________________________
  &#about {
    iframe {
      width: 90%;
    }
  }
  //________________________PAGE CONTACT__________________________
  &#contact {
    display: flex;
    flex-direction: column;
    #contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      textarea,
      input {
        width: 75vw;
      }
    }
  }
  //________________________PAGE MENTIONS LEGAL_____________________
  &#legal {
    & > ol > li {
      list-style: decimal;
    }
  }
  //________________________PAGE CONFIDENTIALITEE_____________________
  &#confidentiality {
    & > p > a {
      color: color.$warn;
      &:visited {
        color: darkgray;
      }
    }
  }
}
/*     -------------------   FOOTER  -------------------     */
footer {
  padding: 1rem;
  background-color: color.$primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px color.$accent;
    margin-bottom: 3rem;
    textarea,
    input,
    button {
      margin: 1rem;
      width: 80vw;
    }
  }
  a {
    margin: 1rem;
  }
  img {
    width: 26%;
  }
}
